html{
    font-size: 11px;
}

body { 
	background-color:transparent; 
	margin: 0; 
	padding: 0;
}

#imag { 
    max-width: 25%; 
    height: auto; 
}

.responsive {
    max-width: 100%;
    height: auto;
}

.layang {
	position:fixed;
	right:5px;
	top:10px;
}

.modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 3s linear 2s, opacity 2s 0s, transform 2s;
}
.modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
}
.close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
}
.close-button:hover {
        background-color: darkgray;
}
.show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 3s linear 3s, opacity 2s 1s, transform 2s;
}
